# Ignore dataset CSV splits
/dataset/train.csv
/dataset/test.csv

# Python and env
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.Python
.pytest_cache/
.ipynb_checkpoints/

# Results/artifacts
results/
*.png

# OS/editor
.DS_Store
.vscode/
